table {
    border-collapse: collapse;
    width: 70%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding:6px 20px;
  }
  tr th {
   border: 1px solid #dddddd;
    text-align: center;
    padding:6px 20px;
    background-color: #a6a6a6;
    color:#fff;
  }
  
  tr:hover {
    background-color: #dddddd;
    cursor: pointer;
  }
  
  tr.totals {
      background-color: #e8e8e8;
  }